<div class="container" style="width: 350px;">

    <div mat-dialog-actions style="padding: 5px; height: 40px;">
        <button mat-icon-button style="float: right;margin:15px" mat-dialog-close>
            <mat-icon style="color: red;">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-title><h3 style="color:black;text-align: center;">직원정보 입력</h3></div>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [(ngModel)]="data.name" type="text" placeholder="이름을 입력해주세요.">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [(ngModel)]="data.email" type="text" placeholder="이메일을 입력해주세요.">
            <mat-icon fontIcon="email" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [(ngModel)]="data.salary" type="number" placeholder="연봉을 입력해주세요.">
            <mat-icon fontIcon="salary" matSuffix></mat-icon>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="center">
        <button (click)="addOrEditEmployee(data)" mat-flat-button [mat-dialog-close]="data">등록</button>
        <button mat-flat-button mat-dialog-close="true" color="warn">취소</button>
    </div>

</div>
